@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
.container{
    display:flex;
    flex-direction: column;
    margin:2rem;
}
.cashBox, .displayBox{
  
    flex-direction: column;
}
body{
    background-image: url("/header.jpg");  
    color:ghostwhite;
    background-size: cover;
    text-shadow: 2px 2px black;
}
*, html {
    margin:0;
    padding:0;
    font-family: 'Inconsolata', monospace;  
    font-weight: bold;
}
.header{
    padding:2rem;
    font-size:xx-large;
}

.intro{
    background-color: rgba(9, 39, 31, 0.5);
    text-align:center;
    font-size:larger;
    padding: 1rem 0rem;
    
}

label,input,textarea{
    margin:0.5rem 0 0.5rem 0;
    font-size:larger;
}   

#errorMessage{
    color:rgb(200,0, 0);
    text-shadow: 1px 1.3px black;
}
button{
    width:fit-content;
    align-self:center;
    font-size:larger;
    padding:0.5rem;
    background-color: #48514c;
    border-radius: 0.3rem;
    border-style: none;
    color:ghostwhite;
    text-shadow: 2px 2px black;
    margin: 0 0 1rem 0;
}

.footer{
    background-color:#48514c;
    padding:1rem 1rem;
    text-align: center;
    background-size:cover;
    color: white;
    position:absolute;
   bottom:0px;
   width:97.52%;
}
.footer ul{
    padding-inline-start: 0px;
    
}

.link{

    text-decoration: none;
    color: white;
    padding: 0 5vh;
}
